.box-flight {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 238, 238, 0.42);
  height: 158px;
  border: 1px solid rgba(255, 102, 0, 0.2);
}
.box-information {
  background-color: #f60;
  height: 31px;
  font-size: 9pt;
}
.detail-link {
  position: relative;
  padding-top: 28px;
  padding-right: 13px;
  padding-left: 8px;
}
.price-flight {
  font-size: 40px;
}
.row-price {
  margin-top: 28px;
}
.flight-number {
  position: relative;
  padding-top: 6px;
  padding-right: 3px;
  color: white;
}
.flight-dep {
  margin: 4px;
  font-size: 12.5px;
}
.flight-arr {
  margin-left: 5px;
  font-size: 12.5px;
}
